/*

!.gitignore
!build.gradle
!settings.gradle
!gradlew
!gradlew.bat
!README.md
!LICENSE
!CHANGELOG.md

!gradle/

!fragmentstack/
fragmentstack/*

!fragmentstack/src/

!fragmentstack/build.gradle

!fragmentstack-samples/
fragmentstack-samples/*

!fragmentstack-samples/src/

!fragmentstack-samples/build.gradle

.DS_store
